<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>96317838443-6ecst1pfh4gpe17gr3dlm0b4o2lg0bf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96317838443-6ecst1pfh4gpe17gr3dlm0b4o2lg0bf3</string>
	<key>API_KEY</key>
	<string>AIzaSyAq78juAxrGrBgH6PkG2JYl-Sh0OCfkKbo</string>
	<key>GCM_SENDER_ID</key>
	<string>96317838443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DreamTeamMemeTeam.Helping-Hands</string>
	<key>PROJECT_ID</key>
	<string>helping-hands-8f10c</string>
	<key>STORAGE_BUCKET</key>
	<string>helping-hands-8f10c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96317838443:ios:e5048e5b7393394e</string>
	<key>DATABASE_URL</key>
	<string>https://helping-hands-8f10c.firebaseio.com</string>
</dict>
</plist>